.loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  background: inherit; }
  .loading-screen > * {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
    font-size: 30px; }

.loading-screen.hidden {
  display: none;
  opacity: 0; }

.loading-screen.hidden-add {
  display: block; }

.loading-progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
