<!DOCTYPE html>
<html lang="en" ng-app="bethparser">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beth Parser</title>
    <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-controller="MainController as main">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Beth Parser</a>
            <ul class="nav navbar-nav">
                <li><a href="" onclick="$('#string-file').click()">Load STRINGS</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="" onclick="$('#mod-file').click()">Load ESM</a></li>
            </ul>
        </div>
        <form class="hidden">
            <input id="string-file" type="file" onchange="this.files.length > 0 && $(this).scope().$evalAsync('main.loadStringFile(file)', { file: this.files[0] })" >
        </form>
        <form class="hidden">
            <input id="mod-file" type="file" onchange="this.files.length > 0 && $(this).scope().$evalAsync('main.loadModFile(file)', { file: this.files[0] })" >
        </form>
    </nav>
    <div class="container-fluid" ng-if="main.data.$type == 'STRINGS'">
        <div>
            <strong>{{main.name}}</strong> <small>{{main.data.count}}</small>
        </div>
        <div ng-if="!main.data.$content">
            <button class="btn btn-default" type="button" ng-click="main.renderStrings()">Render</button>
        </div>
        <pre ng-if="main.data.$content" ng-bind="::main.data.$content"></pre>
    </div>
    <div class="container-fluid" ng-if="main.data.$type == 'MOD'">
        <div>
            <strong>{{main.name}}</strong> <small>{{main.data.records.length}}</small>
        </div>
        <div ng-if="!main.data.$content">
            <button class="btn btn-default" type="button" ng-click="main.renderMod()">Render</button>
        </div>
        <pre ng-if="main.data.$content" ng-bind="::main.data.$content"></pre>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="src/app.js"></script>
    <script src="src/app-utils.js"></script>
    <script src="src/app-modParse.js"></script>
    <script src="src/app-istringParse.js"></script>
</body>
</html>
